<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      Crud-Angular
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li *ngIf='estalogin'><a routerLink="home" class="nav-link px-2 link-secondary">Home</a></li>
      <li *ngIf='estalogin'><a href="#" class="nav-link px-2 link-dark">list</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" routerLink="" class="btn btn-outline-primary me-2" *ngIf='!estalogin'>Login</button>
      <button type="button" routerLink="register" class="btn btn-primary" *ngIf='!estalogin'>Register</button>
      <button type="button" class="btn btn-primary" (click)="onLogout()" *ngIf='estalogin'>Logaut</button>
    </div>
  </header>
</div>
